header {
    text-align: center;
    background-color: black;
    border: double 3px rgb(286, 325, 0);
    font: white;
    color: white;
    font-family: 'vast shadow';
}
#gameBoard {
    margin: 0 auto;
    width: 80%;
    background-image: linear-gradient(to right, grey white);
}
.playerCard {
    border: solid 1px black;
    display: inline-block;
    padding: 8%;
}
#gallery {
    text-align: center;
}
body {
    background-image: linear-gradient(to right, grey white);
    font-family: 'Righteous';
}

#heroOne {
    background-image: url("../images/Hero1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aquamarine;
    visibility: visible;
}
#heroTwo {
    background-image: url("../images/Hero2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: coral;
    visibility: visible;
}
#heroThree {
    background-image: url("../images/Hero3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: cornflowerblue;
    visibility: visible;
}
#heroFour {
    background-image: url("../images/Hero4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gold;
    visibility: visible;
}
p {
    position: relative;
    bottom: 6em;
}
.hp {
    position: relative;
    top: 5.3em;
}
#fightInfo {
    float:left;
}
#enemyGallery {
    text-align: center;
}
/* #currentEnemy {
    position: relative;
    left: 20%; */
/* } */